VITE_SUPABASE_URL=https://ysxtxkfaalebrehyrnrl.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlzeHR4a2ZhYWxlYnJlaHlybnJsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTExNDA1MDIsImV4cCI6MjA2NjcxNjUwMn0.a8ysa-W3yv4TNX0WkAJ_Tis0UC37Hi98PwPHOUBo8Qs